.content {
   width: 90%;
   max-width: 800px;
   margin: 20px auto;
}
th {
   padding: 10px 15px;
}
td {
   padding: 10px 15px;
   /* border-bottom: 1px solid #b5dff7; */
}
tr:nth-child(even){background-color: #b5dff7;}